.add-icon {
	background-image: url(../images/add-icon.png) !important;
	background-repeat: no-repeat;
}
.gray-bg {
	background: #EFEFEF;
}
.delete-img {
	background-image: url(../images/Delete.png) !important;
	background-repeat: no-repeat;
}
.arrow-up-img {
	background-image: url(../images/arrow-up.png) !important;
	background-repeat: no-repeat;
}
.arrow-down-img {
	background-image: url(../images/arrow-down.png) !important;
	background-repeat: no-repeat;
}
#fruitcup {
	float: left;
	width:200px;
}
#gpas {
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align: center;
}
#support {
	float: right;
	width:200px;
}
