.add-icon {
	background-image: url(../images/add-icon.png) !important;
	background-repeat: no-repeat;
}
.gray-bg {
	background: #EFEFEF;
}
.delete-img {
	background-image: url(../images/Delete.png) !important;
	background-repeat: no-repeat;
}
.arrow-up-img {
	background-image: url(../images/arrow-up.png) !important;
	background-repeat: no-repeat;
}
.arrow-down-img {
	background-image: url(../images/arrow-down.png) !important;
	background-repeat: no-repeat;
}
.class-not-available {
	background-color: #FF8888 !important;
}
.x-grid-row-selected .class-not-available{
    background-color: #FF625F !important;
    border-color: #BFB8B8;
    border-style: dotted;
}
.save {
	background-image: url(../images/save.png);
	background-repeat: no-repeat;
}
#fruitcup {
	float: left;
	width:200px;
}
#gpas {
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align: center;
}
#support {
	float: right;
	width:200px;
}
